<a href="https://colab.research.google.com/github/yfhkucing/RandomForestBMS/blob/master/DataBMS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [12]:
import pandas as pd
import numpy as np

In [31]:
df = pd.read_excel('Koordinat dan Input Skenario.xlsx',sheet_name='Input Skenario')
new_header = df.iloc[0] #grab the first row for the header
df = df[1:] #take the data less the header row
df.columns = new_header #set the header row as the df header
df.columns = df.columns.fillna('to_drop')
df.drop('to_drop', axis = 1, inplace = True)
df.drop('Skenario Lama', axis = 1, inplace = True)
df.drop('PIC', axis = 1, inplace = True)
df.drop('Iterasi', axis = 1, inplace = True)
df.drop('Tanggal', axis = 1, inplace = True)
df.drop('Jam', axis = 1, inplace = True)
df

,Jendela,AC,Fan,Arah Sudut Kecepatan Angin derajat,Nilai Kecepatan Angin,Dry Bulb Temperature
1,0.0,0.0,0.0,171.0,0.5,27.0
2,0.0,0.0,0.0,153.0,0.4,31.5
3,0.0,0.0,0.0,47.0,4.8,33.1
4,0.0,0.0,0.0,62.0,4.1,27.4
5,0.0,0.0,0.0,341.0,3.8,30.6
...,...,...,...,...,...,...
188,1.0,1.0,1.0,163.0,0.9,31.4
189,1.0,1.0,1.0,210.0,0.1,31.3
190,1.0,1.0,1.0,247.0,0.3,26.7
191,1.0,1.0,1.0,265.0,1.0,28.1
192,1.0,1.0,1.0,64.0,0.2,28.7

In [32]:
df.describe(include='all')

,Jendela,AC,Fan,Arah Sudut Kecepatan Angin derajat,Nilai Kecepatan Angin,Dry Bulb Temperature
count,192.0,192.0,192.0,192.0,192.0,192.0
unique,2.0,2.0,4.0,12.0,12.0,12.0
top,0.0,0.0,0.0,171.0,0.5,27.0
freq,96.0,96.0,48.0,16.0,16.0,16.0