<a href="https://colab.research.google.com/github/yfhkucing/RandomForestBMS/blob/master/DataBMS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
%ls

'Koordinat dan Input Skenario.xlsx'   sample_data/

In [ ]:
df = pd.read_excel('Koordinat dan Input Skenario.xlsx',sheet_name='Input Skenario')
df

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11
0,NaT,Skenario Lama,Jendela,AC,Fan,Tanggal,Jam,PIC,Iterasi,Arah Sudut Kecepatan Angin derajat,Nilai Kecepatan Angin,Dry Bulb Temperature
1,2022-01-01,1.0,0.0,0.0,0.0,2022-03-21 00:00:00,9.0,Person A,1000.0,171.0,0.5,27.0
2,2022-02-01,1.0,0.0,0.0,0.0,2022-03-21 00:00:00,12.0,Person A,1000.0,153.0,0.4,31.5
3,2022-03-01,1.0,0.0,0.0,0.0,2022-03-21 00:00:00,15.0,Person A,1000.0,47.0,4.8,33.1
4,2022-04-01,1.0,0.0,0.0,0.0,2022-09-23 00:00:00,9.0,Person A,1000.0,62.0,4.1,27.4
...,...,...,...,...,...,...,...,...,...,...,...,...
188,2022-08-16,NaN,1.0,1.0,1.0,2022-06-21 00:00:00,12.0,Person E,1000.0,163.0,0.9,31.4
189,2022-09-16,NaN,1.0,1.0,1.0,2022-06-21 00:00:00,15.0,Person E,1000.0,210.0,0.1,31.3
190,2022-10-16,NaN,1.0,1.0,1.0,2022-12-22 00:00:00,9.0,Person E,1000.0,247.0,0.3,26.7
191,2022-11-16,NaN,1.0,1.0,1.0,2022-12-22 00:00:00,12.0,Person E,1000.0,265.0,1.0,28.1
192,2022-12-16,NaN,1.0,1.0,1.0,2022-12-22 00:00:00,15.0,Person E,1000.0,64.0,0.2,28.7